COMPOSE_FILE=hadoop.yml:hue.yml
# COMPOSE_FILE=jupyter.yml

# Jupyter password = admin
# If you need to setup another password, run command below and replace admin
# Then put the value generated below
# Note, you need to escape every $ with $$
# docker run --rm --entrypoint=/opt/conda/bin/python quay.io/jupyter/all-spark-notebook:latest -c "from jupyter_server.auth import passwd; print(passwd('admin'))"
JUPYTER_PASSWORD=argon2:$argon2id$v=19$m=10240,t=10,p=8$tVgeOXgEFi03TVkjN5JMRg$gqCfMO9iXUOIPU+QM03Cq4+AoDT6ABBSaS2ESvR9mmQ
